[package]
name = "yunting_plugin"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
log = "0.4"
tokio = { version = "1.48", features = ["full"] }
yunting_lib = { path = "../yunting_lib" }